// src/styles/_reset.scss

*,
*::before,
*::after {
  box-sizing: border-box; // Fondamentale per le dimensioni esatte
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block; // Toglie lo spazio bianco fastidioso sotto le immagini
  max-width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}
