// src/styles/_typography.scss
@use "variables" as *;

// Import Google Fonts (Work Sans + Open Sans)
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400&family=Work+Sans:wght@400;600;700&display=swap");

body {
  font-family: $font-body;
  color: $color-text-main;
  background-color: $color-background;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; // Rende i font più nitidi
}

h1,
h2,
h3,
h4 {
  font-family: $font-heading;
  font-weight: 700;
  color: $color-primary;
}
