// src/styles/_variables.scss

// --- COLORS ---
$color-primary: #101a2e; // Blu scuro
$color-secondary: #8c0202; // Rosso
$color-background: #f2f4f8; // Grigio chiaro
$color-white: #ffffff;
$color-white-badge: rgba($color-white, 0.3); // <--- Nuova variabile
$color-text-main: #101a2e;
$color-text-light: #9ba8ba;

$svg-white: brightness(0) invert(1);

// --- FONTS ---
$font-heading: "Work Sans", sans-serif;
$font-body: "Open Sans", sans-serif;

// --- SPACING (Figma s-size) ---
$spacing-sm: 4px; // Figma: L
$spacing-l: 8px; // Figma: L
$spacing-xl: 16px; // Figma: XL
$spacing-2xl: 32px; // Figma: 2XL
$spacing-3xl: 40px; // Figma: 3XL (Nuovo!)
$spacing-4xl: 80px; // Figma: 4XL (visto prima)

// --- LAYOUT ---
$container-max-width: 1088px;
$card-width: 260px;

// --- BORDERS & RADIUS ---
$radius-md: 8px;
$radius-infinte: 1000px;

// Uso la variabile colore definita sopra
$bg-color-soft: rgba($color-primary, 0.05);
$border-color-soft: rgba($color-primary, 0.05);
$border-light: 1px solid $border-color-soft;

// --- SHADOWS ---
$shadow-soft: -2px 4px 6px $border-color-soft;
